**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
override.tf
.terraform.lock.hcl
lambda/*.zip
retail-store-sample-app/
*.pem
*.key
*.crt
.env
credentials
kubeconfig*
.DS_Store
.vscode/
.idea/
__pycache__/
*.tmp
*.swp
test*.jpg
grading.json