mysql:
  enabled: false
postgresql:
  enabled: false
dynamodb:
  enabled: false

replicaCount: 1

carts:
  datasource:
    url: "jdbc:mysql://MYSQL_HOST_PLACEHOLDER:3306/retaildb?useSSL=false&allowPublicKeyRetrieval=true"
    username: "MYSQL_USER_PLACEHOLDER"
    password: "MYSQL_PASS_PLACEHOLDER"

catalog:
  datasource:
    url: "jdbc:mysql://MYSQL_HOST_PLACEHOLDER:3306/retaildb?useSSL=false&allowPublicKeyRetrieval=true"
    username: "MYSQL_USER_PLACEHOLDER"
    password: "MYSQL_PASS_PLACEHOLDER"

orders:
  datasource:
    url: "jdbc:mysql://MYSQL_HOST_PLACEHOLDER:3306/retaildb?useSSL=false&allowPublicKeyRetrieval=true"
    username: "MYSQL_USER_PLACEHOLDER"
    password: "MYSQL_PASS_PLACEHOLDER"

checkout:
  dynamodb:
    tableName: "project-bedrock-retail-store"
    region: "us-east-1"